*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: 16px;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0 0 1rem 0;
}

blockquote {
  color: gray;
  border-left: 2px solid gray;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
}

ul, ol {
  margin: 1rem 0 1rem 1rem;
  padding: 0 0 0 1rem;
}

figure {
  margin: 0;
  padding: 0;
}

.loading {
  text-align: center;
  margin-top: calc( 50vh - 70px );
}

.loading .title {
  font-size: 72pt;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap > .central {
  flex: 1;
}

.central {
  width: 100%;
  display: flex;
}

main {
  width: 60%;
}

aside {
  width: 40%;
  overflow-y: scroll;
  border-left: 1px solid black;
}

.bottom-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bottom {
  z-index: 1;
  width: 100%;
  display: flex;
  -webkit-animation: pulse_bg 18s infinite alternate;
  transition: pulse_bg 18s infinite alternate;
  background: #67FFA9;
  border-top: 1px solid black;
  flex-flow: column;
}

@-webkit-keyframes pulse_bg {
  0% {background: #DFD5FD;}
  25% {background: #03C98F;}
  40% {background: #87FF78;}
  55% {background: #FA523E;}
  70% {background: #FA523E;}
  85% {background: #FEAC4C;}
  100% {background: #FFF549;}
}

@keyframes pulse_bg {
  0% {background: #DFD5FD;}
  25% {background: #03C98F;}
  40% {background: #87FF78;}
  55% {background: #FA523E;}
  70% {background: #FA523E;}
  85% {background: #FEAC4C;}
  100% {background: #FFF549;}
}

.bag {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  overflow-x: scroll;
  padding: 0.25rem;
}

button {
  color: inherit;
  background-color: #fff;
  padding: 0.25rem;
  border-width: 0;
  border-style: none;
  border-color: inherit;
  border-image: none;
}

button:focus {
  outline: none;
}

.toggle {
  padding: 0 0.5rem;
}

.bag-img {
  text-align: center;
  border: 1px dashed black;
  margin: 1rem 0.25rem;
  padding: 0.25rem;
  background: #fff;
}

.bag-img:first-child {
  margin-left: 0;
}

.bag-img:last-child {
  margin-right: 0;
}

.bag-img img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-width: 4.5rem;
}

.bag-img figcaption {
  font-size: 0.8rem;
}

input {
  width: 100%;
  padding: 11px;
  border: none;
  box-shadow: inset 0 0 12px red;
  font-size: inherit;
}

input:focus {
  outline: red;
}

.key {
  padding: 0.25rem;
  font-size: 0.8rem;
}

.message {
  margin-bottom: 10px;
}

.messages {
  padding: 0.5rem 0.25rem;
  overflow-y: scroll;
  height: 100%;
}

.message-text {
  display: block;
}

.message:last-child p {
  margin: 0;
}

.message-user,
.message-date {
  color: grey;
  font-size: 0.8rem;
}

.message-user {
  /* margin-right: 30px; */
}

.message-date {
  margin-right: 10px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.map {
  width: 100%;
  background: black;
}

.map-row {
  height: 5%;
}

.map-box {
  display: inline-block;
  width: 5%;
  height: 5%;
}

.map-box.here {
  background: #fff;
  box-shadow: inset 0px 0px 4px red;
}

.dungeon {
  padding: 0.5rem;
  color: black;
}

.fade {
  transition: all 0.5s ease-out;
  opacity: 0;
}
