*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

img {
  width: 100%;
}

p {
  margin: 1rem 0;
}

blockquote {
  color: gray;
  border-left: 2px solid gray;
  margin: 1rem 0;
  padding: 0 0 0 1rem;
}

ul, ol {
  margin: 1rem 0 1rem 1rem;
  padding: 0 0 0 1rem;
}

figure {
  margin: 1rem;
  padding: 0;
}

.loading {
  text-align: center;
  margin-top: calc( 50vh - 70px );
}

.loading .title {
  font-size: 72pt;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap > .central {
  flex: 1;
}

.central {
  width: 100%;
  display: flex;
}

main {
  width: 60%;
}

aside {
  width: 40%;
  border-left: 1px solid black;
}

.bottom {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.bag {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  width: 100%;
  background: red;
  overflow-x: scroll;
}

.bag-img {
  text-align: center;
  flex: 1;
  max-width: 6rem;
}

.bag-img img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input {
  width: 100%;
  padding: 11px;
  border: none;
  box-shadow: inset 0 0 10px red;
  font-size: inherit;
}

.key {
  text-align: right;
  font-size: 8pt;
  margin-right: 10px;
}

.message {
  margin-bottom: 10px;
}

.messages {
  margin: 10px;
  overflow-y: scroll;
}

.message-text {
  display: block;
  width: 300px;
  vertical-align: top;
}

.message-user,
.message-date {
  color: grey;
  font-size: 10pt;
}

.message-user {
  margin-right: 30px;
}

.message-date {
  margin-right: 10px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.map {
  width: 100%;
}

.map-row {
  height: 5%;
}

.map-box {
  display: inline-block;
  width: 5%;
  height: 5%;
  color: white;
}

.map-box.here {
    box-shadow: inset 0px 0px 4px red;
}

.dungeon0 {
  background-color: black;
  color: black;
}
